<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="{% block pub %}active{% endblock %}"><a href="/publish/">出版社</a></li>
        <li class="{% block book %}{% endblock %}"><a href="/book/">书籍</a></li>
        <li class="{% block author %}{% endblock %}"><a href="/author/">作者</a></li>
        <li class="{% block pic %}{% endblock %}"><a href="/book_pic/">陈晓旭图片<span
                class="sr-only">(current)</span></a></li>
        <li class="{% block mom %}{% endblock %}"><a href="/mom/">母版</a></li>
    </ul>
</div>